<div *ngIf="userData">
  <h1>All Records</h1>
  <table>
    <tr>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
    <tr *ngFor="let user of userData">
      <td>{{user.username}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
    </tr>
  </table>
</div>
<ul>
  <li *ngFor="let p of pages; let i=index">
    <a routerLink="/users" (click)="setPage(i, $event)">{{i}}</a>
  </li>
</ul>
<!-- <app-sorting></app-sorting> -->
