<form [formGroup]="deleteForm" (ngSubmit)="deleteUser()">
  <table>
    <tr>
      <td>Username:</td>
      <td><input formControlName="username" type="text" name="username" placeholder=" Enter username " /></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Delete" /></td>
    </tr>
  </table>
</form>
