<div *ngIf="!isLoggedIn" id="menu">
  <div class="items">
    <a routerLink="/register">Signup</a>
  </div>
  <div class="items">
    <a routerLink="/login">Login</a>
  </div>
</div>
<div id="menu" *ngIf="isLoggedIn && adminRole">
  <h2>Admin Menu</h2>
  <div class="items">
    <a routerLink="/users">View All Users</a>
  </div>
  <!-- <div class="items">
    <a routerLink="/allocation">Update Department</a>
  </div> -->
  <div class="items">
    <a routerLink="/usersByregistration">View Users By Registeration Date</a>
  </div>
  <!-- <div class="items">
    <a routerLink="/delete">Delete User</a>
  </div> -->
  <div class="items">
      <a routerLink="/search">Search User</a>
    </div>
  <div class="items">
    <a routerLink="/login" (click)="doLogout()">Logout</a>
  </div>
</div>
<div id="menu" *ngIf="isLoggedIn && userRole">
    <h2>User Menu</h2>
  <div class="items">
    <a routerLink="/userDetails">Profile</a>
  </div>
  <div class="items">
    <a routerLink="/edit">Update User Details</a>
  </div>
  <div class="items">
    <a routerLink="/login" (click)="doLogout()">Logout</a>
  </div>
</div>
