<form (ngSubmit) = "search()">
  <table>
    <tr>
      <td>UserName</td>
      <td><input type="text" name="username"  [(ngModel)] = "username"/></td>
    </tr>
    <tr>
      <td></td>
      <td colspan="2"><input type="submit" value="search" /></td>
    </tr>
  </table>
</form>
<br><br>
<div *ngIf = "userDetails">
  <!-- <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Role</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
    <tr>
      <td>{{userDetails.firstName}}</td>
      <td>{{userDetails.lastName}}</td>
      <td>{{userDetails.role}}</td>
      <td>{{userDetails.email}}</td>
      <td>{{userDetails.phone}}</td>

    </tr>
  </table> -->

  <h1 class = "heading">UserDetails</h1>
<p><b>firstName:</b>&nbsp;{{userDetails.firstName}}</p>
<p><b>lastName:</b>&nbsp;{{userDetails.lastName}}</p>
<p><b>Username:</b>&nbsp;{{userDetails.username}}</p>
<p><b>Email ID:</b>&nbsp;{{userDetails.email}}</p>
<p><b>Mobile number:</b>&nbsp;{{userDetails.phone}}</p>
</div>
<!-- <div *ngIf = "user">
<c:when test="${userDetails == null}">
				<h2>No Records Found</h2>
			</c:when>
			<c:otherwise>
				<div>
					<table>
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Organization</th>
							<th>Email</th>
							<th>Phone</th>
						</tr>
						<tr>
							<td>${userDetails.firstName }</td>
							<td>${userDetails.lastName }</td>
							<td>${userDetails.organization }</td>
							<td>${userDetails.email }</td>
							<td>${userDetails.phone }</td>

						</tr>
					</table>
        </div>
      </div> -->
      <div *ngIf = "noUserFound">
        <h2>No user found</h2>
      </div>

