        <form (ngSubmit)="update()"  >
          <table>
            <tr>
              <td>FirstName:</td>
              <td><input type="text" placeholder="Enter firstName" name="firstName" defaultValue={{userData.firstName}}
                [(ngModel)]="userData.firstName">
              </td>
            </tr>
            <tr>
              <td>Last Name:</td>
              <td><input type="text" placeholder="Enter lastName" name="lastName" defaultValue={{userData.lastName}}
                [(ngModel)]="userData.lastName">
              </td>
            </tr>
            <tr>
              <td>Username:</td>
              <td><input type="text" placeholder="Enter username" name="username" defaultValue={{userData.username}}
                  [(ngModel)]="userData.username"></td>
            </tr>
            <tr>
              <td>Phone Number:</td>
              <td><input type="text" placeholder="Enter Mobile number" [(ngModel)]="userData.phone" name="Mobile"
                  defaultValue={{userData.phone}} [(ngModel)]="userData.phone"></td>
            </tr>
            <td colspan="2"><input type="submit" value="Update" /></td>
          </table>
        </form>
