<div>
  <app-header></app-header>
  <hr>
</div>
<div class = "menu">
  <app-menu></app-menu>
</div>
<div class = "body">
  <router-outlet></router-outlet>
</div>
 
<div class = "footer">
  <app-footer></app-footer>
</div>

 
