<form [formGroup]="Form" (ngSubmit)="Assign()">

  <table>
    <tr>
      <td>EmpId:</td>
      <td><input formControlName="id" type="text" name="id" placeholder=" Enter Employee Id " /></td>
    </tr>
    <tr>
      <td>Department:</td>
      <td><select formControlName="department" type="text" name="department">
          <option value="" disabled>select Department</option>
          <option value="1">HR</option>
          <option value="2">IT</option>
          <option value="3">admin</option>
          <option value="4">finance</option>
          <option value="5">production</option>
        </select></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Assign" /></td>
    </tr>
  </table>

</form>
