<div>
<h2 class = "head">Aspire Info Labs</h2>
<!-- <div *ngIf = "!isloggedin">
<a class = "login" routerLink = "/login">Login</a>
<a class = "register" routerLink = "/register">Register</a>
</div>
<div *ngIf = "isloggedin">
    <a class = "login" routerLink = "/login" (click) = "doLogout()">Logout</a>
</div> -->
</div>