.head{
    text-align : center;
}
/* .login {
    float : right;
    margin-top : -28px;
    font-size : 120%;
    text-decoration: none
}
.register {
    float: right;
    font-size : 120%;
    margin-right : 5%;
    margin-top : -28px;
    text-decoration: none
} */