<div *ngIf = "userData">
    <h1>User Details By Registration Date</h1>
    <table >
        <tr>
         
          <th>First Name</th>
          <th>Last Name</th>
          <th>UserName</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
        <tr *ngFor = "let user of userData">
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.username}}</td>  
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td> 
        </tr>
      </table>
  </div>
