<!-- <div class="profile_details">
  <h1>profile</h1>
</div> -->
<div>
<h1 class = "heading">UserDetails</h1>
<p><b>firstName:</b>&nbsp;{{userData.firstName}}</p>
<p><b>lastName:</b>&nbsp;{{userData.lastName}}</p>
<p><b>Username:</b>&nbsp;{{userData.username}}</p>
<p><b>Email ID:</b>&nbsp;{{userData.email}}</p>
<p><b>Mobile number:</b>&nbsp;{{userData.phone}}</p>

</div>