  <div #draggable>
      <div *ngIf = "sortedData">
          <h2>sorted by first name</h2>
          <table>
            <tr *ngFor = "let user of sortedData">
              <td>{{user}}</td>
            </tr>
          </table>
      </div>
  </div>
  