<form [formGroup]="loginForm" (ngSubmit)="doLogin()">
  <table>
    <tr>
      <td>Username:</td>
      <td><input formControlName="username" type="text" name="username" /></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type="password" formControlName="password" name="password" /></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Login" /></td>
    </tr>
  </table>
</form>
